# Python virtual environment
.venv/

# Environment variables
.env

# Navigator variables
cookies.txt

# Python trash
__pycache__/
*.pyc
*.pyo
*.pyd

# MacOs trash
.DS_Store

# Twitch OAuth tokens
src/data/tokens.json

# Vods dirs & files
vods/
