# Python virtual environments
.venv/
venv/

# Environment variables
.env

# Navigator variables
cookies.txt

# Python trash
__pycache__/
*.pyc
*.pyo
*.pyd

# MacOs trash
.DS_Store

# Twitch OAuth tokens
src/data/tokens.json

# YouTube OAuth tokens
src/data/yt_tokens.json

# Vods dirs & files
vods/
